# Python
.venv/
__pycache__/
*.py[cod]
.pytest_cache/

# macOS
.DS_Store

# Data
data/raw/
data/processed/images/

# Model files
checkpoints/
*.pt
*.pth
*.ckpt

# Outputs
outputs/
reports/figures/debug/

# Notebook
.ipynb_checkpoints/

# Credentials
.env
kaggle.json

*.zip
*.tar
*.tar.gz
.vscode/